@import "../../../config-scss/rem-calc.scss";
//O host diz especificatemente apenas desse componente
:host {
    header {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: rem-calc(40) 0;
    }
}